body {
    background-color: lightgray;
}

h1 {
    color: blue;
}

p {
    padding: 10px;
    margin: 15px 0;
}

.caption {
    font-style: italic;
    color: darkslategray;
    text-align: center;
}